.ourStory {
  margin: 3rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.title {
  display: grid;
  align-items: center;
  justify-content: center;
  line-height: 0.5;
  text-align: center;
}

.title h1 {
  font-size: 3.5rem;
  font-weight: normal;
}

.content h1 {
  font-weight: 300;
  font-size: 1.5rem;
}

.date {
  font-size: 1rem;
}
.story {
  margin-top: 2rem;
  display: grid;
  /* gap: 1rem; */
  /* padding: 3rem; */
  grid-template-columns: 1fr 200px 1fr;
  grid-template-areas:
    'content1 vl   img1'
    'img2  vl  content2'
    'content3  vl img3';
}

.story h1,
p {
  /* border: 1px solid red; */
  margin: 0px;
}

.story p {
  margin-top: 0.5rem;
  font-size: 0.75rem;
}
.story img {
  height: 40vh;
  border-radius: 50%;
}
.vl {
  border-left: 5px solid #e2e2e2;
  height: 90vh;
  position: absolute;
  left: 50%;
  /* margin-left: -3px; */
  grid-area: vl;
}
.flower {
  position: absolute;
  z-index: -1;
  transform: translateY(-5rem);
  transform: translateX(-3rem);
  padding: 0;
  margin: 0;
}

.content1 {
  grid-area: content1;
}

.photo1 {
  grid-area: img1;
}

.content2 {
  grid-area: content2;
}

.photo2 {
  grid-area: img2;
}

.content3 {
  grid-area: content3;
}

.photo3 {
  grid-area: img3;
  transform: translateY(-3rem);
}
.content {
  width: 20vw;
}

@media (max-width: 800px) {
  .story {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-areas:
      'img1'
      'content1'
      'img2'
      'content2'
      'img3'
      'content3';
  }
  .vl {
    display: none;
  }
  .content {
    width: 70vw;
  }

  .story img {
    height: 25vh;
    border-radius: 50%;
    transform: translateX(40px);
  }

  .photo3 {
    grid-area: img3;
    transform: translateY(0);
  }
}
