@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400i|Rubik" rel="stylesheet');

* {
  box-sizing: border-box;
}

.ourStory {
  margin: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.title {
  display: grid;
  align-items: center;
  justify-content: center;
  line-height: 0.5;
  text-align: center;
  font-family: 'Old Standard TT', Serif;
}

.title h1 {
  font-size: 65px;
  font-weight: normal;
}

.content h1 {
  font-family: 'Old Standard TT', Serif;
  font-weight: 300;
}

.content p {
  font-family: 'Rubik', Sans-Serif;
}

.date {
  font-size: 18px;
}
.story {
  border: 2px solid red;
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  padding: 3rem;
  grid-template-columns: 1fr 200px 1fr;
  grid-template-areas:
    'content1 vl   img1'
    'img2  vl  content2'
    'content3  vl img3';
}

.story img {
  height: 25vh;
  border-radius: 50%;
}
.vl {
  border-left: 5px solid #e2e2e2;
  height: 80vh;
  position: absolute;
  left: 50%;
  /* margin-left: -3px; */
  grid-area: vl;
}

.content1 {
  grid-area: content1;
}

.photo1 {
  grid-area: img1;
}

.content2 {
  grid-area: content2;
}

.photo2 {
  grid-area: img2;
}

.content3 {
  grid-area: content3;
}

.photo3 {
  grid-area: img3;
}
.content {
  width: 20vw;
}

@media (max-width: 750px) {
  .story {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      'img1'
      'content1'
      'img2'
      'content2'
      'img3'
      'content3';
  }
  .vl {
    display: none;
  }
  .content {
    text-align: center;
  }
  .story img {
    height: 20vh;
    border-radius: 50%;
  }
}
