@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Oxygen:300" rel="stylesheet');

:root {
  /* --black: #262626;
  --white: #f1f2f6;
  --white-darker: #ecf0f1;
  --grey: #999;
  --grey-darker: #777;
  --light-grey: #ddd;
  --grey: #737373; */
}

body {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oxygen', Sans-Serif;
}

p,
span {
  font-family: 'Noto Serif', Serif;
}
